h1,
h2 {
  text-align: center;
}

.breadcrumb {
  max-width: var(--section-max-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: start;
  color: var(--secondary);
  gap: var(--content-gap);
  margin-bottom: var(--content-gap);

  .arrow_icon {
    transform: rotate(180deg);
  }
}
.about_me-content {
  margin-top: var(--content-gap);
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);

  h2 {
    font-size: 1.4rem;
  }
  p {
    text-indent: 15px;
    line-height: 180%;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
  }
}

.soft_skills-container {
  h1 {
    margin-bottom: 2rem;
  }
}

.soft_skills-list {
  width: 100%;
  padding: 0;
  list-style: initial;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.soft_skills-item-container {
  padding-left: 1rem;
  li {
    color: var(--secondary);
    font-weight: bold;
    margin-bottom: 0.2rem;
  }
  p {
    color: var(--primary);
  }
}

.contact_links {
  align-items: center;
  justify-content: center;
  margin-top: var(--content-gap);
  flex-direction: column;

  .icon {
    padding: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #30343f;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
  }

  .icon:hover {
    background-color: var(--emphasis);
    color: var(--primary);
  }

  .btn--blue {
    gap: 1rem;
    transition: all 0.4s;
  }

  .btn--blue:hover {
    color: var(--emphasis);
    background-color: rgba(221, 221, 221, 0.07);
  }

  .btn--blue .icon {
    transform: rotate(-30deg);
    color: black;
    background-color: transparent;
    padding: 0;
  }

  .btn--blue:hover .icon {
    color: var(--emphasis);
  }

  .flex_container {
    gap: 6rem;
  }
}

/* ================= TABLET ================= */
@media (min-width: 43.5rem) {
  .breadcrumb {
    padding: 1rem 4rem;
  }

  .about_me-content {
    h2 {
      font-size: 2rem;
    }
    p {
      text-indent: 25px;
    }
  }

  .contact_links {
    flex-direction: row;

    .flex_container {
      gap: 1.5rem;
    }
  }

  .soft_skills-container {
    h1 {
      margin-bottom: 3rem;
    }
  }

  .soft_skills-list {
    gap: 2.5rem;
  }

  .soft_skills-item-container {
    li {
      font-size: 1.4rem;
    }
  }
}

/* ================= DESKTOP ================= */
@media (min-width: 80rem) {
  .breadcrumb {
    padding: 1rem 6rem;
  }

  .about_me-content {
    h2 {
      font-size: 2.4rem;
    }
    p {
      text-indent: 50px;
      line-height: 200%;
    }
  }

  .soft_skills-container {
    h1 {
      margin-bottom: 5rem;
    }
  }

  .soft_skills-list {
    gap: 4rem;
  }
}
