/* ================= VARIABLES ================= */
:root {
  --primary: #c7c7c7;
  --secondary: #fffffc;
  --emphasis: #2f54b1;
  --title-font: "Bebas Neue", sans-serif;
  --text-font: "Manrope", sans-serif;
  --section-gap: 3rem;
  --content-gap: 1.5rem;
  --section-max-width: 93.75rem;
}

/* ================= GLOBAL ================= */
html,
body {
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--text-font);
  background: #011140;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  background: radial-gradient(
    circle,
    rgba(1, 17, 64, 1) 0%,
    rgba(0, 2, 13, 1) 100%
  );
}

p,
a,
.btn--blue,
.btn--transparent,
.btn_gradient,
label,
input {
  font-size: 1rem;
}

a {
  color: var(--secondary);
  text-decoration: none;
  transition: color 0.5s;
}

a:hover {
  color: var(--emphasis);
}

p {
  color: var(--primary);
  line-height: 150%;
  margin: 0;
}

ul {
  list-style: none;
}

section {
  scroll-margin-top: 7em;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: var(--section-max-width);
}

[hidden] {
  display: none;
}

.uppercase {
  text-transform: uppercase;
}

.flex_container {
  display: flex;
  align-items: center;
}

.section-divider {
  height: 1px;
  background: #d5d5d5;
  margin: var(--section-gap) 0;
}

.section_title {
  font-family: var(--title-font);
  color: var(--secondary);
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: normal;
}

.show_lg {
  display: none;
}

.btn--transparent {
  cursor: pointer;
  background-color: rgba(176, 176, 176, 0.06);
  border-radius: 6px;
  padding: 0.5rem 0.8rem;
  color: var(--primary);
  transition: all 0.3s;
  gap: 0.5rem;
  outline: 1px solid #9292925d;
  font-weight: bold;

  .icon {
    color: inherit;
    font-size: 1rem;
  }
}

.btn--transparent:hover {
  color: var(--secondary);
}

.btn--transparent:focus {
  outline-offset: 4px;
  outline-color: var(--secondary);
}

.emphasis {
  color: var(--emphasis);
  border-bottom: 1px solid var(--emphasis);
  transition: all 0.3s;
  text-transform: uppercase;
  font-weight: bold;
  gap: 0.5rem;
  .icon {
    color: inherit;
    font-size: 1.2rem;
  }
}

.emphasis:hover {
  color: var(--secondary);
  border-color: var(--secondary);
}

.btn--transparent,
.emphasis {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_gradient {
  pointer-events: auto;
  cursor: pointer;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.825rem;
  padding: 0.625rem 1rem;
  background: #11359f;
  background: radial-gradient(
    circle,
    rgba(17, 53, 159, 1) 0%,
    rgba(13, 43, 156, 1) 24%,
    rgba(10, 32, 153, 1) 49%,
    rgba(19, 0, 52, 1) 94%
  );
  border-radius: 8px;
  color: inherit;
  outline: 1px solid #9292925d;
  border: none;
  color: var(--secondary);
  transform: all 0.5s;
}

.btn_gradient:hover,
.btn_gradient:focus {
  outline-color: var(--secondary);
  outline-width: 1px;
  outline-offset: 4px;
  color: var(--primary);
}

.text--transparent {
  color: #c7c7c7b0;
}

.disabled {
  background: transparent;
}

.selected {
  outline: 1px solid var(--secondary);
}

.hidden {
  opacity: 0;
  transition: all 1s;
  filter: blur(15px);
  transform: translateY(2rem);
}

.show {
  opacity: 1;
  transition: all 1s;
  filter: blur(0);
  transform: translateY(0);
}

/* ================= FLEX PATTERNS ================= */
.menu_list--mobile,
.hero_content,
.hero_content-left,
.projects,
.portfolio_header,
.portfolio_card,
.certificates,
.stack,
.about-me,
.about-me_content,
.contact,
.contact_form,
.form_feedback,
.form_feedback-content {
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);
}

/* ================= HEADER ================= */
.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background: radial-gradient(
    circle,
    rgba(1, 17, 64, 1) 0%,
    rgba(0, 2, 13, 1) 100%
  );
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -3px 13px 5px -5px rgba(7, 19, 69, 0.77);
  margin-bottom: 2rem;
  color: var(--primary);
}

.header_name {
  font-family: var(--title-font);
  font-size: 2rem;
  text-transform: uppercase;
}

.menu_toggle-input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
}

.menu_toggle-label {
  font-size: 2.3rem;
  cursor: pointer;
  transition:
    color 0.5s,
    transform 0.5s;
}

.menu_toggle-input:checked + .menu_toggle-label {
  color: var(--emphasis);
  transform: rotate(15deg);
}

/* ================= MOBILE MENU ================= */
.header_menu--mobile {
  position: fixed;
  width: 100%;
  background: var(--background);
  text-align: end;
  padding: 1rem 1rem 1rem 0;
  margin-top: -3rem;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.5s;
  background: rgba(0, 10, 40, 0.6);
  backdrop-filter: blur(8px);
  box-shadow: -3px 13px 5px -5px rgba(7, 19, 69, 0.77);
}

body:has(#hamburguer:checked) .header_menu--mobile {
  opacity: 1;
  z-index: 1;
}

body:has(#hamburguer:checked) .header {
  box-shadow: none;
}

.menu_list--mobile {
  margin: 0;
  padding-right: 1rem;
}

/* ================= HERO ================= */
.hero_name {
  font-size: 3.5rem;
}

.hero_content-left > * {
  transition: all 0.5s;
}

.contact_links {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  .icon {
    font-size: 1.8rem;
    color: var(--emphasis);
  }
}

.btn--blue {
  background: var(--emphasis);
  color: var(--background);
  padding: 0.9rem 1rem;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
}

.btn--blue .arrow_icon {
  font-size: 1.5rem;
  transform: rotate(-90deg) scale(0.5);
  transition: all 0.4s ease-in-out;
}

.btn--blue:hover .arrow_icon {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

.contact_links img {
  width: 0.9rem;
}

.hero .icon {
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #30343f;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.hero .icon:hover {
  background-color: var(--emphasis);
  color: var(--primary);
}

.hero_content {
  perspective: 1200px;
}

.profile_picture {
  width: 90%;
  max-width: 35rem;
  max-height: 35rem;
  object-fit: cover;
  margin: 0 auto;
  border-radius: 30px;
  transition: all 0.6s ease;
  transform-origin: center;
}

.profile_picture:hover {
  transform: rotateY(18deg) rotateX(6deg);
}

.deactivate_animation-container {
  gap: 1.3rem;
  color: var(--secondary);
  margin-top: 1rem;
  width: fit-content;
}

.toggle {
  position: relative;
  background-color: var(--emphasis);
  width: 4rem;
  height: 1.7rem;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 0.2rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.toggle_slider {
  position: absolute;
  background-color: var(--secondary);
  border-radius: 50%;
  width: 1.7rem;
  height: 1.7rem;
  transition: all 0.5s ease-in-out;
  transform: translateX(2.3rem);
}

#animation:checked + .toggle {
  background-color: #30343f;
}

#animation:checked + .toggle .toggle_slider {
  background-color: var(--emphasis);
  transform: translateX(0);
}

/* ================= PORTFOLIO ================= */

.portfolio > section {
  padding: 0;
}

.portfolio_header {
  margin-bottom: var(--section-gap);

  .section_title {
    text-align: center;
  }
}

.portfolio_switcher {
  display: grid;
  grid-template-columns: 70%;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;

  .btn_gradient {
    padding: 1rem 1.5rem;
  }

  .icon {
    font-size: 1.5rem;
  }
}
/* ================= PROJECTS ================= */
.projects,
.certificates {
  margin-bottom: var(--section-gap);
}

.projects h1,
.certificates h1,
.stack h1 {
  text-align: center;
}

.projects_grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem 2rem;
  justify-items: center;
  align-items: stretch;
  padding: inherit;
}

.portfolio_card {
  background-color: rgba(221, 221, 221, 0.07);
  border-radius: 12px;
  max-width: 100%;
  padding: 2rem 1.125rem;
  overflow: hidden;
  will-change: opacity, transform;
}

.projects {
  transition: 0.5s;

  img,
  h2 {
    transition: 0.5s;
  }
}

.portfolio_card img {
  width: 100%;
  border-radius: 12px;
}

.project_title {
  font-size: 1.25rem;
}

.portfolio_card p {
  font-size: 1rem;
}

.project_title {
  color: var(--secondary);
}

.projects .flex_container {
  justify-content: space-between;
}

.projects .emphasis .arrow_icon {
  transform: rotate(-30deg);
}

/* ================= CERTIFICATES ================= */

.certificates .portfolio_card {
  padding: 0.7rem;
}

.certificate--hover {
  transition: outline 0.3s;
}

.certificate--hover:hover {
  outline: 1px solid var(--secondary);
}

.certificate--hover img {
  transition: 0.8s;
}

.certificate--hover:hover img {
  transform: scale(1.1);
}

/* ================= STACK ================= */
.stack_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 3rem 1rem;
}

.stack_card {
  background-color: rgba(221, 221, 221, 0.07);
  border-radius: 8px;
  width: 6.25rem;
  height: 5.625rem;
  padding: 1.2rem 0.8rem 0.8rem 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: auto;
}

.stack_card img {
  width: 3.75rem;
  margin-bottom: auto;
  margin-top: auto;
}

.stack_card p {
  color: var(--secondary);
  font-weight: 500;
  text-align: center;
}

.stack_card .smaller_img {
  width: 8.5rem;
}
.stack_card .small_img {
  width: 5rem;
}

.stack--hover {
  transition: 0.3s;
  overflow: hidden;
}
.stack--hover img {
  transition: 0.5s;
}
.stack--hover p {
  transition: 0.3s;
}

.stack--hover:hover {
  background-color: rgba(221, 221, 221, 0.17);
  outline: 0.2px solid var(--secondary);
  transform: scale(1.2);
}

.stack--hover:hover img {
  transform: rotate(35deg);
  margin-bottom: 0.5rem;
}

.stack--hover:hover p {
  margin-top: 0.5rem;
}

/* ================= ABOUT ME ================= */

.about-me_subtitle {
  font-size: 1.5rem;
  color: var(--secondary);
  line-height: 180%;
}

.about-me p {
  line-height: 200%;
}

.about-me .flex_container {
  gap: var(--content-gap);
}

/* ================= CONTACT ================= */
.underline {
  border-bottom: 1px solid var(--secondary);
  font-weight: 900 !important;
  transition: 0.5s;
}

.underline:hover {
  border-color: var(--emphasis);
}

.contact .flex_container {
  gap: var(--content-gap);
}

.contact .icon {
  font-size: clamp(2.4rem, 8vw, 3rem);
  transition: 0.5s;
}
.contact .icon:hover {
  transform: scale(1.2);
  color: var(--secondary);
}

.contact_content-left {
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);
}

/* ================= CONTACT FORM ================= */
.contact_form {
  position: relative;
  color: var(--primary);
  background-color: rgba(221, 221, 221, 0.07);
  border-radius: 12px;
  padding: 1rem;
  gap: 0;

  h2 {
    color: var(--secondary);
    margin-bottom: var(--content-gap);
  }

  input,
  textarea {
    border: none;
    outline: 1px solid #dedcdc5d;
    border-radius: 12px;
    padding: 1rem 1rem 1rem 3rem;
    background-color: rgba(255, 255, 255, 0.13);
    color: inherit;
    width: 100%;
    transition: all 0.3s;
    line-height: 1.5;
    box-sizing: border-box;
  }

  textarea {
    min-height: 7.5rem;
    resize: vertical;
  }

  input:focus,
  textarea:focus {
    outline-color: var(--secondary);
    outline-offset: 3px;
  }
}

.input_group {
  margin-bottom: var(--content-gap);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  .icon {
    position: absolute;
    left: 0.75rem;
    width: 1.4rem;
    top: 1rem;
  }
}

.form_error-message {
  color: rgb(234, 21, 21);
  font-weight: bold;
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.13) inset;
  box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.13) inset;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 9999s ease-in-out 0s;
}

.form_feedback-background {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999999;
  pointer-events: auto;
  display: none;
}

.form_feedback {
  background: #0f172a;
  color: #fff;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  max-width: 420px;
  width: 90%;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  pointer-events: auto;
}

.form_feedback-header {
  text-align: end;

  button {
    background-color: transparent;
    border: none;
  }
  .icon {
    color: var(--secondary);
    cursor: pointer;
  }
}

.form_feedback-content {
  text-align: center;

  p {
    color: var(--secondary);
  }

  .icon {
    transform: rotate(-134deg);
  }
}

/* ================= FOOTER ================= */
.footer {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 100;
  padding: 2rem 0;
  margin-top: var(--section-gap);
}
/* ================= TABLET ================= */
@media (min-width: 43.5rem) {
  :root {
    --section-gap: 5rem;
  }

  body {
    font-family: var(--text-font);
    background: #011140;
    min-height: 100vh;
    position: relative;
  }

  body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;
    background: radial-gradient(
      circle,
      rgba(1, 17, 64, 1) 0%,
      rgba(0, 2, 13, 1) 100%
    );
  }

  section {
    padding: 0 4rem;
  }

  p,
  a,
  .btn--blue,
  .btn--transparent,
  .btn_gradient,
  label,
  input,
  span {
    font-size: 1.3rem;
  }

  .project_title {
    font-size: 1.8rem;
  }

  .portfolio_card p {
    font-size: 1.3rem;
  }

  .show_sm {
    display: none;
  }

  .show_lg {
    display: block;
  }

  .btn--transparent {
    padding: 0.8rem 1.5rem;
    .icon {
      font-size: 1.7rem;
      color: inherit;
    }
  }

  .emphasis {
    font-size: 1.4rem;
    .icon {
      font-size: 1.7rem;
    }
  }

  .btn_gradient:hover {
    outline-width: 2px;
  }

  .section_title {
    font-size: 4.5rem;
  }

  .header_name {
    font-size: 2.5rem;
  }

  .hero_name {
    font-size: 5.5rem;
  }

  .contact_links {
    gap: 2rem;
  }

  .contact_links span {
    padding: 1rem 2rem;
    font-size: 1.2rem;
  }

  .toggle {
    width: 5rem;
    height: 2rem;
  }

  .toggle_slider {
    width: 2rem;
    height: 2rem;
    transform: translateX(2.8rem);
  }

  .projects_grid {
    padding: 0;
  }

  .portfolio_switcher {
    gap: 1.5rem;
    padding: 0 1.5rem;

    .btn_gradient {
      padding: 1.4rem 1.5rem;
    }

    .icon {
      font-size: 1.8rem;
    }
  }

  .certificate--hover:hover img {
    transform: scale(1.1);
  }

  .stack_grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .stack_card {
    width: 8.0625rem;
    height: 7.375rem;
    padding: 1.25rem;
  }
}

/* ================= DESKTOP ================= */
@media (min-width: 80rem) {
  section {
    padding: 0 6rem;
  }

  .header {
    padding: 1rem 2rem;
  }

  .menu_list--desktop {
    display: flex;
    gap: 4rem;
  }

  .hero {
    margin-top: var(--section-gap);
  }

  .hero_content {
    display: grid;
    grid-template-columns: 50% 1fr;
  }

  .projects_grid {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }

  .portfolio_card {
    align-self: stretch;
    justify-self: stretch;
    width: initial;
  }

  .portfolio_switcher {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding: 0 1.5rem;

    .btn_gradient {
      padding: 1.8rem 1.5rem;
    }

    .icon {
      font-size: 2.1rem;
    }
  }

  .projects {
    .portfolio_card img {
      width: 100%;
      height: 420px;
      object-fit: cover;
    }

    .portfolio_card:nth-child(2) img {
      object-position: right;
    }
    .portfolio_card:nth-child(4) img {
      object-position: top;
    }

    .portfolio_card:hover {
      img {
        transform: scale(1.2);
      }

      h2 {
        margin-top: 1.3rem;
      }
    }
  }

  .portfolio_card:hover {
    background-color: rgba(221, 221, 221, 0.17);
    outline: 1px solid #aeaeae80;

    img {
      transform: scale(1.4);
    }

    h2 {
      margin-top: 1rem;
    }
  }

  .stack_grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .about-me {
    display: grid;
    grid-template-columns: 30% 1fr;

    .section_title {
      display: flex;
      align-items: center;
    }
  }

  .contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
